viser
opencv-python
imageio
imageio-ffmpeg
matplotlib
tensorboard
scikit-learn
jaxtyping
roma
ninja
pytorch-msssim
fsspec
loguru
--index-url https://download.pytorch.org/whl/cu128
ipdb
nerfview
gsplat
torchmetrics
splines==0.3.2
pyyaml
black==24.4.2
isort==5.13.2
cupy-cuda12x
cuml-cu12
rich 
--extra-index-url https://pypi.nvidia.com
cudf-cu12
dask-cudf-cu12
cuml-cu12
cugraph-cu12
cuspatial-cu12
cuproj-cu12
cuxfilter-cu12
cucim-cu12
pylibraft-cu12
raft-dask-cu12
cuvs-cu12
git+https://github.com/nerfstudio-project/gsplat.git
